@font-face {
	 font-family: MuseoSansCyrl; /* Имя шрифта */
    src: url(museosanscyrl/MuseoSansCyrl.otf); /* Путь к файлу со шрифтом */
    font-weight: normal;
  
}

body {
	 font-family: MuseoSansCyrl;
}
.wrap_all{
	background-image: url(img/fon.jpg);
	background-position: center;
	height: 660px;
	
}
.wrap_content {
	width: 1170px;
	margin: 0 auto;
	height: 660px;
	padding-top: -10px;
}

a {
	text-decoration: none; 
	color:#ffffff;
	font-size: 16px;
}
.header {
	height: 100px;
	margin-top: 0;
	
	position: relative;
}
.header .logo {
	width: 316px;
	height: 100%;
	border:1px solid #2f2e32;
	float:left;
	position: relative;
}
.logo img {
	position: absolute;
	top:50%;
	margin-top:-23px;
	left:50%;
	margin-left: -130px;
   }
 
 .coner.ltop {
 	position: absolute;
 	top:-1px;
 	left:-1px;
 	width: 7px;
 	height: 7px;
 	
 	border-left: 1px solid #ffffff;
 	border-top: 1px solid #ffffff;
 	 }	
  .coner.lbot {
 	position: absolute;
 	bottom: -1px;
 	left:-1px;
 	width: 7px;
 	height: 7px;
 	
 	border-left: 1px solid #ffffff;
 	border-bottom:  1px solid #ffffff;
 	 }	
.coner.rtop {
 	position: absolute;
 	top:-1px;
 	right:-1px;
 	width: 7px;
 	height: 7px;
 	
 	border-right:  1px solid #ffffff;
 	border-top: 1px solid #ffffff;
 	 }
 .coner.rbot {
 	position: absolute;
 	bottom: -1px;
 	right: -1px;
 	width: 7px;
 	height: 7px;
 	
 	border-right: 1px solid #ffffff;
 	border-bottom:  1px solid #ffffff;
 	 }	
 .menu_small {
   display: none;
   position: relative;
 } 	
 
.menu ul {
	list-style: none; 
	display: flex;
}
.menu li {
	padding-top: 37px;
	padding-bottom: 8px;
	margin-left: 30px;

}
.menu li:hover
 {
	border-bottom:1px solid #3d3d3d;
} 

/*конец меню горизонтального начало середины */
.wrap_middle{
	width: 100%;
	height: 352px;
	display: flex;
		}

.left_side {
	height: 100%;
	
	width: 50%;
	position: relative;
} 

h1{
	width:  450px;
	height: 100px;
	margin-top: 93px;
	line-height: 0.8;
	background: linear-gradient(to left  ,#ff4106, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-clip-path: polygon(100% 3%, 94% 24%, 91% 58%, 88% 100%, 0 100%, 0 0, 100% 0);
    clip-path: polygon(100% 3%, 94% 24%, 91% 58%, 88% 100%, 0 100%, 0 0, 100% 0);
}
h1 span:first-child {
	font-size: 58px;
	text-transform: uppercase;
    
}
h1 span.on_red_planet{
	font-size: 25px;
	
}
.begin_travel{
	margin-top:60px ;
	width: 180px;
	height: 32px;
	
	padding-top:9px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
.begin_travel a {
	color: #1b3a60;
	font-size: 14px;
}
.line_top{
	position: absolute;
	top:0;
	left:0;
	width: 180px;
	height: 1px;
	background-image: linear-gradient(to right, #000000,#1b3a60);
}
.line_bottom {
	position: absolute;
	bottom: 0;
	left:0;
	width: 180px;
	height: 1px;
	background-image: linear-gradient(to left, #000000,#1b3a60);
}
.line_left{
	position: absolute;
	top: 0;
	left:0;
	width: 1px;
	height: 40px;
	background-image: linear-gradient(to bottom, #000000,#1b3a60);
}
.line_right{
    position: absolute;
	top: 0;
	right:0;
	width: 1px;
	height: 40px;
	background-image: linear-gradient(to top, #000000,#1b3a60);
	}
.coner_begin_travel {
	   position: absolute;
	    -webkit-box-shadow: -1px 0px 4px 0px rgba(255,255,255,1);
        -moz-box-shadow: -1px 0px 4px 0px rgba(255,255,255,1);
        box-shadow: -1px 0px 4px 0px rgba(255,255,255,1);
}
.left_bottom_goriz{
     
     width: 7px;
     height: 1px;
     bottom: 0;
     left:0;
     border-bottom: 1px solid #ffffff; 
    
}
.left_bottom_vert{
	 width: 1px;
     height: 7px;
     bottom: 0;
     left:0;
     border-left: 1px solid #ffffff; 
    }
.right_up_goriz{
	width: 7px;
    height: 1px;
    top:0;
    right:0;
    border-top: 1px solid #ffffff;
     
}
.right_up_vert{
 	width: 1px;
    height: 7px;
    top:0;
    right:0;
    border-right: 1px solid #ffffff;
    
}
/* конец левой части главного блока - начало правой части главного блока*/

.right_items {
	height: :100%;
	width: 50%;
	padding-top: 60px;

}
.wrap_item_row1{
	display:flex;
	justify-content: flex-end;
}
.wrap_item_row2{
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}
.item {
	width: 147px;
	height: 147px;
	text-align: center;
	
}
.wrap_item_row2 .item:first-child{
	width:190px;
}
.item a {
	font-size: 18px;
	line-height:0.6;
}
.item:hover {
	
	background-image: linear-gradient(to bottom right,rgba(255, 255, 255, 0),rgba(255, 255, 255, .1));
}

.item a .big {
 font-size: 60px;
}

.item a .big span{
 font-size: 20px;
}
/* конец правой части основной части*/

@media screen and (max-width: 1179px){

.wrap_content {
	padding-left: 20px;
	padding-top: 10px;
}
.left_side {
	
}

h1 {
	width: 450px;
}

h1 span:first-child {
	font-size: 45px;
    
}

/* правая часть от Луны */
.item {
	width: 100px;
	height: 100px;
	
	
}
.wrap_item_row2 .item:first-child{
	width:120px;
}
.item a {
	font-size: 12px;
}
.item {
	margin-right: 30px; 	
}
.item a .big {
	font-size: 30px;
}

.wrap_item_row1,
.wrap_item_row2
{
	display:flex;
	justify-content: center;
}

} 

@media screen and (max-width: 1083px) {
.menu li {
	margin-left: 15px;
}

h1 {
	width: 330px;
	margin-top: 40px;	
}

h1 span.on_red_planet{
	font-size: 20px;
	
}
h1 span:first-child {
	font-size: 40px;
    
}
.begin_travel {
	margin-top: 30px;
}
.menu li {
	margin-left: 15px;
	line-height:0.5;
}
a {
	font-size: 14px;
}
.right_items {
	width:34%;
}
.wrap_item_row1,
.wrap_item_row2
{
	display:flex;
	justify-content: flex-end;
}
}

@media screen and (max-width: 986px) {
	.menu ul {
	
	display: flex;
}

	.wrap_middle{
	width: 100%;
	height: 352px;
    display: inline-block;

		}
	.left_side{
		height: 185px;
		margin-left: auto;
		margin-right: auto;
	}
	.begin_travel{
		background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.9));
		margin-top: -20px;
	}
	.right_items{
		margin-left: 50px;
		width: 300px;
		
	}	
}

@media screen and (max-width: 919px){
.wrap_content {
	width: 100%;
}
.header{
	z-index: 10;
}
.menu {
          display: none;
        position: absolute;
        bottom: 0px;
        right: 20%;
	    top:0;
          }
 .menu ul {
 	display: block;
 	background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)); 
 	text-align: center;
 	
 } 
 .menu li {
 	padding-right:  40px;
 	padding-left: -15px;
    }   
  .menu li:last-child {
   	
   	padding-bottom: 20px;
   }
    
.menu_small{
	display: block;
	position: relative;
	font-size: 50px;
	color: #ffffff;
	text-align: center;
	width: 100px;
	float:right;

}  
.menu_small ul {
	position: absolute;
	list-style: none; 
	left:-200px;
	top:0;
	display: none;
	background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)); 
	padding-right: 30px;
	padding-bottom: 20px;
	z-index: 11;
}
.menu_small li {
	text-align: center;

}
.menu_small i {
	padding-top: 20px; 
	margin-right: 40px;
}
.menu_small i:hover {
	cursor: pointer;
}       
}

@media screen and (max-width: 540px){
	.header .logo {
	width: 250px;
	height: 100%;
	border:1px solid #2f2e32;
	float:left;
	position: relative;
}
.logo img {
	position: absolute;
	top:50%;
	margin-top:-23px;
	left:50%;
	margin-left: -90px;
	width: 80%;
   }
.menu_small {
	font-size: 45px;
}	
.left_side  {
	margin-left: 40px;
}
.right_items {
	margin-left: -5px;
}

}
